.gems--line01 {
  transform: translate(60px, 60px);
}

.gems--line02 {
  transform: translate(60px, 300px) scale(1.2);
}

.gems--line03 {
  transform: translate(60px, 600px) scale(.7);
}

.triangle {
  fill: #ff0048;
}

.square {
  fill: #00a887;
  transform: translate(185px, 0);
}

.pent {
  fill: #4a4f54;
  transform: translate(399px, 0);
}

.hex {
  fill: #0054a8;
  transform: translate(615px, 0);
}

.hept {
  fill: #d8d8d8;
  transform: translate(812px, 0);
}

.oct {
  fill: #fff70f;
  transform: translate(1025px, 0);
}

.triangle.halftone {
  fill: url(#circles-1) #fff;
}

.square.halftone {
  fill: url(#circles-2) #fff;
}

.pent.halftone {
  fill: url(#circles-3) #fff;
}

.hex.halftone {
  fill: url(#circles-4) #fff;
}

.hept.halftone {
  fill: url(#circles-5) #fff;
}

.oct.halftone {
  fill: url(#circles-6) #fff;
}