body {
  background: gray;
}

.halftone.d2 {
  fill: url(#circles-2) #fff;
}

.halftone.d4 {
  fill: url(#circles-4) #fff;
}

.halftone.d6 {
  fill: url(#circles-7) #fff;
}

.solid {
  fill: hsla(360, 100%, 100%, .6);
}

#bkg {
  fill: #003acc;
}

.gems {
  transform-origin: 100px 100px;
  transform: translate(100px, 100px); 
}

.topTwo {
  transform: scale(4);
  /*transform: scale(2.5) translate(130px, 40px)*/
}

.lowerSets {
  transform: translate(0, 1000px);
}

#g1 {
  transform-origin: 100px 100px;
  /*possibly use rotation here for animation*/
  transform: rotate(0deg); 
}

#g2 {
  transform-origin: 160px 160px;
  transform: rotate(20deg) translate(60px, -80px);
}

#g3 {
  transform: translate(0, 400px) scale(1.6);
}

#g4 {
  transform: translate(360px, 160px) scale(1.6);
}

#g5 {
   transform: translate(170px, 400px);
}

#g6 {
   transform: translate(530px, 160px);
}

#g7 {
  transform: scale(10);
  opacity: 0.4;
}

@keyframes fade {
  0%, 100% {
    fill-opacity: 1;
  }

  2% {
    fill-opacity: .7;
  }

  5% {
    fill-opacity: .5;
  }

  50% {
    fill-opacity: .2;
  }

  54% {
    fill-opacity: 0;
  }
}