body {
  background: gray;
}


#bkg {
  fill: #00a887;
}

polygon {
  fill :#fff;
  /*opacity: .7;*/
}

.row-1979 {
  
}

.row-1994 {
  transform: translate(0, 600px);
}

.row-2012 {
  transform: translate(0, 1200px);
}

.men {
  fill: url(#vertical-stripe-4) #fff;
}

.total {
  fill: url(#horizontal-stripe-7) #fff;
}